$primary-color: #FF3C6E;
$black: #000;
$white: #FFF;
$box-shadow: #D3D3D395;
$border-color: #E1E1E1;
$light-grey: #7E7E7E;
$light-green: #73b9AF;
$yellow: #F5C341; 
$background-grey: #F8F9FA; 
$switch-box-shadow: #0B0B0B37;
$very-light-grey: #F0F0F0;